@import "../../Utils.css";

.navbarContainer {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
  justify-content: space-between; /* Espace équitablement les éléments horizontalement */
  background-color: #074b9c; /* Remplacez ceci par la couleur de fond de votre choix */
  font-family: var(--font);
  height: 11vh;
}

.pageLinksContainer {
  display: flex;
  align-items: center; /* Aligne les éléments verticalement au centre */
  gap: 20px; /* Ajoute un espace de 20px entre chaque lien de page */
  list-style-type: none;
  text-decoration: none;
}

.textContainer {
  color: white; /* Couleur du texte des liens de la page */
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  list-style-type: none;
  font-weight: bold; /* Texte en gras pour les liens de la page */
  margin: 10px;
}

a {
  text-decoration: none;
}

.activeLink {
  /* Styles pour le lien actif (page active) */
  color: yellow; /* Couleur du texte pour le lien actif */
  text-decoration: none;
}
