@import url(../Utils.css);

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font);
  overflow: hidden;
}

.leftSection,
.rightSection {
  flex: 1;
  height: 1;
  height: 80%;
}

.cardContainer {
  width: 100%;
  height: 100%;
  border-radius: 1,5rem;
}

.imageCard {
  background-image: url("../assets/couverture_dbpx.png");
  background-size: contain;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
